
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
    height: 100vh;
    background-color: rgb(192, 207, 229);
    padding: 10% 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 50vw; 
}
.title{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 30px;
    font-family: 'Raleway', sans-serif;
    color: rgb(22, 54, 122);
}

.joke-text {
    background-color: rgb(240, 247, 250);
    padding: 30px;
    border-radius: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.8;
    letter-spacing: 0.5px;
    margin-bottom: 30px;
    color: rgb(45, 124, 189);
}

.button {
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: rgb(62, 55, 156);
    color: rgb(200, 230, 250);
    cursor: pointer;
    transition: 200ms ease-in-out;

    &:hover {
        transition: 200ms ease-in-out;
        box-shadow: 1px 1px 5px rgb(59, 59, 59);
    }

    &:active {
        transition: 200ms ease-in-out;
        background-color: rgb(30, 25, 97);
        color: rgb(221, 242, 255);
    }
}

.contact {
    width: 100%;
    height: 30px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

.github-pic{
    width: 40px;
}


